nav a {
  color: var(--quat) !important;
  font-size: 36px !important;
  font-family: "Nova Mono", monospace;
}

.nav-link.active {
  color: var(--sec) !important;
}

.navbar-toggler {
  background-color: var(--prim) !important;
}
