form {
  padding-top: 2rem;
}

.infoURL {
  font-size: 18px;
}

.info {
  color: var(--sec);
}

.form-dv {
  font-size: 24px;
}

.contact-submit button {
  background-color: var(--prim) !important;
}

.contact-submit button:hover {
  background-color: var(--tert) !important;
}
