:root {
  --prim: #3a91a1;
  --sec: #ff7c24;
  --tert: #0cecdd;
}

* {
  color: var(--sec) !important;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}

a:hover,
button:hover {
  color: #000000 !important;
}

button:hover {
  background-color: var(--tert) !important;
}
