@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=PT+Sans&display=swap");

:root {
  --prim: #3a91a1;
  --sec: #ff7c24ea;
  --tert: #0cecdd;
  --quat: #ebe4e4;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1602872250608-a17f7ba8933d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3334&q=80");
  background-size: cover;
  padding: 0 2rem 0 2rem;
  color: var(--quat) !important;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none !important;
  color: var(--quat) !important;
}

a:hover,
button:hover {
  color: var(--sec) !important;
}

section {
  font-family: "PT Sans", sans-serif !important;
}

@media (min-width: 600px) {
  body {
    color: var(--sec);
  }
}
